/* Global CSS */

*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

body{
  font-size: 62.5%;
}


/* Global CSS Variables */

/* :root{
  --primaryColor : red;
} */

.nav-container{
  /* border:0.2rem solid var(--primaryColor); */
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem;
}

.menu-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  place-items: center;
}

a{
  text-decoration: none;
}

.menu-container a {
  font-size: 1.2rem;
}

.home{
  justify-self: end;
}

.contact{
  justify-self:start;
}

.button-container{
  justify-self: end;
}

